<!-- Call Hypothes.is -->
<script class="js-hypothesis-config">
window.hypothesisConfig = function () {
  return {
    "openSidebar": false,
    "theme": "clean",
    branding: {
      appBackgroundColor: 'white',
      ctaBackgroundColor: 'rgba(3, 11, 16, 1)',
      ctaTextColor: '#eee',
      selectionFontFamily: 'helvetica, arial, sans serif'
    }
  };
};
</script>
<script async src="https://hypothes.is/embed.js"></script>
