<!-- Configure and load Thebelab !-->
<script type="text/x-thebe-config">
    {
        binderOptions: {
            repo: 'RaoOfPhysics/thebelabr',
            ref: 'master',
            repoProvider: 'github',
        },
        requestKernel: true,
        kernelOptions: {
            kernelName: 'ir',
        },
        predefineOutput: true
    }
</script>
<!-- Don’t need script below because `thebe_status_field.js` calls it. -->
<!-- <script src="https://unpkg.com/thebelab@0.5.0/lib/index.js"></script> -->

<!-- Dependency: jquery !-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>

<!-- Style sheet and javascript for the status field !-->
<script src="/js/thebe_status_field.js" type="text/javascript" ></script>
<link href="/css/thebe_status_field.css" rel="stylesheet" type="text/css"/>

<!-- Button for activating ThebeLab -->
<script><!-- use window.onload to defer the execution until the page is loaded !-->
  window.onload = function () {
    thebe_place_activate_button();
  };
</script>
<div>
<strong>Status of interactive code:</strong> <span class="thebe_status_field"></span>
</div>
